
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #ffcccc;
display: flex;
flex-direction: column;
}


header img {
  width: 100%;
  display: block;
}


.wrapper {  display: flex;
}

.con1 {
max-width: 45%;
width: 50%;
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
max-width: 45%;
width: 50%;
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
flex: 1;  order: 2;  }

h2 {
  color: #333;
}

p {
  margin: 10px 0;
}

span {
  color: red;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="file"] {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}

.file-upload {
  margin-bottom: 20px;
}

.file-upload label {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.file-upload input[type="file"] {
  border: none;
  padding: 0;
  margin: 0;
  display: inline;
  width: auto;
}

.grievances_details {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}    